<main class="splash-main">

    <figure class="splash-logo">
      <img src="<%= asset_path("quack-logo.png") %>" alt="Quack logo"/>
    </figure>

  <section class="splash-content">



        <form id="signin-form" method="post" action="<%= session_url %>" class="sign-in existing">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <label class="form-header">Register or login here</label>
            <input name="user[username]"
              placeholder="Username"
              type="text"
              class="username-input"
              value="<%= @user.username %>">
            <!-- <label class-"username-label">Username</label> -->
            <input name="user[password]"
              type="password"
              class="password-input"
              placeholder="Password">
            <!-- <label>Password</label> -->
            <input type="hidden" name="invite_code" value="<%= @invite.invite_code %>">
            <input type="hidden" name="team_site_id" value="<%= @invite.team_site_id %>">
            <input type="text"
              name="user[email]"
              class="password-input"
              value="<%= @user.email %>"
              placeholder="Email (for new users)">
            <!-- <label for="user_email">Email (for new users)</label> -->
          <div class="sign-in-buttons group">
            <button id="signin" class="sign-in-button">Sign In</button>
            <button id="signup" class="sign-in-button">Sign Up</button>
            <a href="/session/guest" class="sign-in-button">Use Demo Account</a>
            <a href="/auth/google_oauth2" class="sign-in-button">Sign in with Google</a>
          </div>

        </form>


      <div class="why-quack">
        <p>
          Quack is a platform for team communication, where you and your team can
          talk, share files and work together. Searchable, easy and beautiful. It's
          also a clone of slack.
        </p>
      </div>

  </section>
</main>

<script>
  $(function() {
    $("#signup").on("click", function (event) {
      $("#signin-form").attr("action", "/users")
    })
  })
</script>
