<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '688580394604301',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<main class="splash-main">

    <figure class="splash-logo">
      <img src="<%= asset_path("quack-logo.png") %>" alt="Quack logo"/>
    </figure>

  <section class="splash-content">



        <form id="signin-form" method="post" action="<%= session_url %>" class="sign-in existing">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <label class="form-header">Register or login here</label>
            <input name="user[username]"
              placeholder="Username"
              type="text"
              class="username-input"
              value="<%= @user.username %>">
            <!-- <label class-"username-label">Username</label> -->
            <input name="user[password]"
              type="password"
              class="password-input"
              placeholder="Password">
            <!-- <label>Password</label> -->

            <input type="text"
              name="user[email]"
              class="password-input"
              value="<%= @user.email %>"
              placeholder="Email (for new users)">
            <!-- <label for="user_email">Email (for new users)</label> -->
          <div class="sign-in-buttons group">
            <button id="signin" class="sign-in-button">Sign In</button>
            <button id="signup" class="sign-in-button">Sign Up</button>
            <a href="/session/guest" class="sign-in-button">Use Demo Account</a>
            <button id="oauth" class="sign-in-button oauth">Sign in with   ∇
            </button>
              <ul id="oauth-options" class="oauth-options oauth invisible">
                <a href="/auth/google_oauth2"><li class="oauth">Google</li></a>
                <a href="/auth/twitter"><li class="oauth">Twitter</li></a>
                <a href="/auth/facebook"><li class="oauth">Facebook</li></a>
              </ul>

          </div>

        </form>


      <div class="why-quack">
        <p>
          Quack is a platform for team communication, where you and your team can
          talk, share files and work together. Searchable, easy and beautiful. Inspired by Slack.
        </p>
      </div>

  </section>
</main>

<script>
  $(function() {
    $("#signup").on("click", function (event) {
      $("#signin-form").attr("action", "/users")
    })
    $("#oauth").on("click", function(event) {
      event.preventDefault();
      $("#oauth-options").removeClass("invisible");

    })
    $(window).on("click", function (event) {
      if ($(event.target).hasClass("oauth")) {
        return
      } else {
        $("#oauth-options").addClass("invisible")
      }
    })
  })
</script>
