<form class="modal-form edit-avatar-form index-modal">



<figure><img src="<%= Quack.logo %>" alt="Quack Logo" /> </figure>

<h1>Welcome <%= Quack.currentUser.escape("username") %>!</h1>
<h2>First, pick a team:</h2>
<form class="team-site-index">
  <select class="team-select">
    <option value="" disabled selected>Select A Team!</option>
  <% teamSites.forEach(function(teamSite) { %>
    <option value="<%= teamSite.get("id") %>"><%= teamSite.get("name") %></option>
    <% }) %>
    <option value="new">Create A New Team Site</option>
  </select>
</form>

<form class="logout" action="/session" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= authToken %>">
  <button>Log Out</button>
</form>

</form>
