<!DOCTYPE html>
<html>
<head>
  <title>QuackApp</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script>
    Pusher.log = function(message) {
      console.log(message);
    };
    window.pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  </script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400italic,300italic' rel='stylesheet' type='text/css'>

</head>
<body>


<%= yield %>

</body>
</html>
